@model ShoppingCenter.Models.ViewModels.CategoryVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @if(Model.ProductType.Id != 0)
    {
        ViewData["Title"] = "Edit Product Type";
    }
    else
    {
        ViewData["Title"] = "Create Product Type";
    }

    var title = "Create Product Type";
}

<div class="container">
    <div class="row">
        <div class="col-6 m-0 m-auto" style="border: 2px solid #004481">
            <form method="post" asp-action="Upsert">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if(Model.ProductType.Id != 0)
                {
                    <input type="hidden" asp-for="@Model.ProductType.Id" />
                    title = "Edit Product Type";
                }

                <div class="row">
                    <div class="col-12 text-center">
                        <h3>@title</h3>
                    </div>
                </div>

                <div class="row col-12 form-group">
                    <div class="col-4">
                        <label asp-for="@Model.ProductType.Type"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ProductType.Type" class="form-control" />
                        <span asp-validation-for="@Model.ProductType.Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="row col-12 form-group">
                    <div class="col-4">
                        <label>Category Type</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ProductType.CategoryId" class="form-control" />
                        <span asp-validation-for="@Model.ProductType.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row col-12 form-group">
                    @if(Model.ProductType.Id != 0)
                    {
                        <partial name="_EditAndBackBtn" model="@Model" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackBtn" />
                    }
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{ 
    <style>
        label{
            font-weight: 400;
        }
        input[type=text]{
            border: none;
            border-bottom: 1px solid #0094ff;
        }
    </style>
}